doctype html
html(lang='en')
    head
        title Form Elements
    body
        div.container
            div.logo
            div.box1
                div.box1-colomn1
                    div.text-field-default
                        label
                            span.label-text text field
                            span.form-type-text default
                        input( type='text' placeholder="Email")
                    div.text-field-hover-focus
                        label
                            span.label-text text field
                            span.form-type-text hover / focus
                        input( type='text' placeholder="This is pretty awesome")
                    div.dropdown-1
                        label
                            span.label-text dropdown
                            span.form-type-text default
                        select.dropdown-select
                            option Сколько гостей
                    div.masked-text-field
                        label
                            span.label-text masked text field
                            span.form-type-text default
                        input( type='text' placeholder="ДД.ММ.ГГГГ")
                    div.date-dropdown-box
                        div.date-dropdown-1
                            label
                                span.label-text date dropdown
                            select.date-dropdown-select
                                option ДД.ММ.ГГГГ
                        div.date-dropdown-2
                            label
                                span.label-text date dropdown
                            select.date-dropdown-select
                                option 19.08.2019
                    div.filter-date-dropdown
                        label
                            span.label-text filter date dropdown
                        select.dropdown-select
                            option 19 авг - 23 авг
                    div.subscription-text-field
                        label
                            span.label-text subscription text field
                        input( type='text' placeholder="Email")
                    div.dropdown-2
                        label
                            span.label-text dropdown
                            span.form-type-text default
                        div.dropdown-text
                            div 2 спальни, 2 кровати...
                    div.dropdown-3
                        label
                            span.label-text dropdown
                            span.form-type-text expanded
                        div.dropdown-text
                            div 2 спальни, 2 кровати...
                        div.date-dropdown-3-checkbox
                            ul
                                li.checkbox-item
                                    div.item-name спальни
                                    div.item-count
                                       button.decrement -
                                       div.value 2
                                       button.increment +
                                li.checkbox-item
                                    div.item-name кровати
                                    div.item-count
                                       button.decrement -
                                       div.value 2
                                       button.increment +
                                li.checkbox-item
                                    div.item-name ванные комнаты
                                    div.item-count
                                       button.decrement -
                                       div.value 0
                                       button.increment +
                    div.expandable-checkbox-list-1 expandable checkbox list
                    div.expandable-checkbox-list-2
                         div.expandable-checkbox-list-2-top expandable checkbox list
                         ul.expandable-checkbox-list-2-bottom
                                li.checkbox-item
                                     div.square
                                     div.name Завтрак
                                li.checkbox-item
                                     div.square.checked
                                     div.name Письменный стол
                                li.checkbox-item
                                     div.square.checked
                                     div.name Стул для кормления
                                li.checkbox-item
                                     div.square.checked
                                     div.name Кроватка
                                li.checkbox-item
                                     div.square
                                     div.name Телевизор
                                li.checkbox-item
                                     div.square
                                     div.name Шампунь
                div.box1-colomn2
                    div.checkbox-buttons
                        div.checkbox-buttons-top Checkbox Buttons
                        ul.checkbox-buttons-bottom
                            li.checkbox-item
                                div.square
                                div.name Можно курить
                            li.checkbox-item
                                div.square.checked
                                div.name Можно с питомцами
                            li.checkbox-item
                                div.square.checked
                                div.name.guests Можно пригласить гостей (до 10 человек)
                    div.radio-buttons
                        label
                            span.label-text radio buttons
                        div.checkbox
                            div.block-checked
                                div.round-checked
                                    div.point
                                div.name Мужчина
                            div.block-unchecked
                                div.round-unchecked
                                div.name Женщина
                    div.toggle
                        label
                            span.label-text toggle
                        div.checkbox
                            div.block-checked
                                div.oval-checked
                                    div.point
                                div.name Получать спецпредложения
                            div.block-unchecked
                                div.oval-unchecked
                                    div.point
                                div.name Получать спецпредложения
                    div.like-buttons
                        label
                            span.label-text like button
                        div.likebox
                            div.block-unliked
                                div.oval-unliked
                                    div.heart
                                    div.like-counter 2
                            div.block-liked
                                div.oval-liked
                                    div.heart
                                    div.like-counter 12
                    div.rate-buttons
                        label
                            span.label-text rate button
                        div.starbox
                            div.starbox-1
                                div.star
                                div.star
                                div.star
                                div.star
                                div.star-border
                            div.starbox-2
                                div.star
                                div.star
                                div.star
                                div.star
                                div.star
                    div.dropdown-4
                        label
                            span.label-text dropdown
                        div.dropdown-text
                            div Сколько гостей
                        div.date-dropdown-4-checkbox
                            ul
                                li.checkbox-item
                                    div.item-name взрослые
                                    div.item-count
                                        button.decrement -
                                        div.value 0
                                        button.increment +
                                li.checkbox-item
                                    div.item-name дети
                                    div.item-count
                                        button.decrement -
                                        div.value 0
                                        button.increment +
                                li.checkbox-item
                                    div.item-name младенцы
                                    div.item-count
                                        button.decrement -
                                        div.value 0
                                        button.increment +
                            button.btn-apply Применить
                    div.rich-checkbox
                        div.rich-checkbox-top rich checkbox buttons
                        ul.rich-checkbox-bottom
                            li.checkbox-item
                                div.square
                                div.text
                                    div.name Широкий коридор
                                    div.description Ширина коридоров в номере <br> не менее 91 см.
                            li.checkbox-item
                                div.square
                                div.text
                                    div.name Помощник для инвалидов
                                    div.description На 1 этаже вас встретит специалист <br> и проводит до номера
                div.box1-colomn3
                    div.range-slider
                        label
                            span.label-name range slider
                            span.label-text 5 000₽ - 10 000₽
                        div.rectangle
                            div.slider
                                div.rectangle-inner
                                    div.round.round-1
                                    div.round.round-2
                    div.buttons
                        label
                            span.label-name buttons
                        div.buttons-filled
                            button.button-default click me
                            button.button-hover click me
                        div.buttons-bordered
                            div.border-default
                                button.button-default click me
                            div.border-hover
                            button.button-hover click me
                        div.buttons-no-border
                            button.button-default click me
                            button.button-hover click me
                        div.button-pay-box
                            button.button-pay перейти к оплате
                            div.arrow
                    div.pagination
                        label
                            span.label-name pagination
                        div.pages
                           div.elem.first-elem 1
                           div.elem 2
                           div.elem 3
                           div.elem ...
                           div.elem 15
                           div.elem.last-elem
                              div.arrow
                        div.description 1 – 12 из 100+ вариантов аренды
                    div.dropdown-5
                        label
                            span.label-text dropdown
                        div.dropdown-text
                            div 3 гостя
                        div.date-dropdown-5-checkbox
                            ul
                                li.checkbox-item
                                    div.item-name взрослые
                                    div.item-count
                                        button.decrement -
                                        div.value 2
                                        button.increment +
                                li.checkbox-item
                                    div.item-name дети
                                    div.item-count
                                        button.decrement -
                                        div.value 1
                                        button.increment +
                                li.checkbox-item
                                    div.item-name младенцы
                                    div.item-count
                                        button.decrement -
                                        div.value 0
                                        button.increment +
                            div.buttons-box
                                button.btn-clean Очистить
                                button.btn-apply Применить
            div.box2
                div.box2-colomn1
                div.box2-colomn1
