doctype html
html(lang='en')
    head
        title Form Elements
    body
        div.container
            div.logo
            div.box1
                div.box1-colomn1
                    include ../components/formElements/textFieldDefault
                    include ../components/formElements/textFieldHoverFocus
                    include ../components/formElements/dropdown-1
                    include ../components/formElements/maskedTextField
                    div.date-dropdown-box
                        include ../components/formElements/dateDropdown-1
                        include ../components/formElements/dateDropdown-2
                    include ../components/formElements/filterDateDropdown
                    include ../components/formElements/subscriptionTextField
                    include ../components/formElements/dropdown-2
                    include ../components/formElements/dropdown-3
                    include ../components/formElements/expandableCheckboxList-1
                    include ../components/formElements/expandableCheckboxList-2
                div.box1-colomn2
                    include ../components/formElements/checkboxButtons
                    include ../components/formElements/radioButtons
                    div.toggle
                        label
                            span.label-text toggle
                        div.checkbox
                            include ../components/formElements/toggleActive
                            include ../components/formElements/toggleUnactive
                    div.like-buttons
                        label
                            span.label-text like button
                        div.likebox
                            include ../components/formElements/likeButton-unliked
                            include ../components/formElements/likeButton-liked
                    include ../components/formElements/rateButtons
                    include ../components/formElements/dropdown-4
                    include ../components/formElements/richCheckbox
                div.box1-colomn3
                    include ../components/formElements/rangeSlider
                    div.buttons
                        label
                            span.label-name buttons
                        div.buttons-filled-box
                            include ../components/formElements/buttonFilledDefault
                            include ../components/formElements/buttonFilledHover
                        div.buttons-bordered-box
                            include ../components/formElements/buttonBorderDefault
                            include ../components/formElements/buttonBorderHover
                        div.buttons-no-border-box
                            include ../components/formElements/buttonNoBorderDefault
                            include ../components/formElements/buttonNoBorderHover
                        div.button-pay-box
                            include ../components/formElements/buttonPay
                    include ../components/formElements/pagination
                    include ../components/formElements/dropdown-5
                    include ../components/formElements/bulletList

            div.box2
                div.box2-colomn1
                    include ../components/formElements/comfort
                    include ../components/formElements/convenience
                div.box2-colomn2
                    include ../components/formElements/review