doctype html
html(lang='en')
    head
        title Headers & footers
    body
        div.container
            div.logo
            include ../components/headersAndFooters/headerLogOut
            include ../components/headersAndFooters/headerLogIn
            include ../components/headersAndFooters/footerWidgets
            include ../components/headersAndFooters/footerCopyrightBarLine
            include ../components/headersAndFooters/footerCopyrightBarBlock






