doctype html
html(lang='en')
    head
        title Главная страница
    body
        div.container
           h1 UI Kit
           ol.links
              li
                 a(href="https://ternovykhirina.github.io/FDProject/headersAndFooters.html") Хедеры и футеры
              li
                 a(href="https://ternovykhirina.github.io/FDProject/formElements.html") Элементы формы
              li
                 a(href="https://ternovykhirina.github.io/FDProject/colorsAndType.html") Цвета и шрифты



