/* сброс стилей браузера */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

.container {
  display: flex;
  flex-flow: column;
}

.content {
  display: flex;
  justify-content: space-between;
}

.box1 {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 67px;
  margin-left: 150px;
}

.box2 {
  display: flex;
  flex-flow: column;
  margin-top: 67px;
  margin-right: 102px;
}

.color-description {
  display: flex;
  flex-flow: column;
  width: 159px;
  height: 57px;
  margin-top: 7px;
  margin-left:40px;
}

.color-box {
  display: flex;
  margin-bottom: 20px;
}

.color-box-rectangle {
  width: 70px;
  height: 70px;
  background: #1F2041;
  border-radius: 6px;
}

.color-box-name {
  font-family: Quicksand-bold;
  font-size: 19px;
  line-height: 29px;
  color: #1F2041;
}

.color-box-hex {
  font-family: Quicksand-light;
  font-size: 19px;
  line-height: 29px;
  color: #1F2041;
}

.font-box {
  display: flex;
}

.type-box {
  display: flex;
  flex-flow: column;
  margin-right: 30px;
  margin-bottom: 508px;
}

.text-example {
  margin-bottom: 50px;
}

.font-H1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  color: rgba(#1F2041, 0.25);
  margin-bottom: 80px;
}

.font-H2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 23px;
  text-align: right;
  color: rgba(#1F2041, 0.25);
  margin-bottom: 75px;
}

.font-H3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  text-transform: uppercase;
  color: rgba(#1F2041, 0.25);
  margin-bottom: 49px;
}

.font-Body {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  color: rgba(#1F2041, 0.25);
}

.font-example-H1 {
  width: 336px;
  height: 60px;
  font-family: Quicksand-bold;
  font-size: 24px;
  line-height: 30px;
  color: #1F2041;
}

.font-example-H2 {
  width: 282px;
  height: 48px;
  font-family: Quicksand-bold;
  font-size: 19px;
  line-height: 24px;
  color: #1F2041;
}

.font-example-H3 {
  width: 186px;
  height: 15px;
  font-family: Montserrat-Bold;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  margin-bottom: 47px;
  color: #1F2041;
}

.font-example-Body {
  width: 301px;
  height: 48px;
  font-family: Montserrat-regular;
  font-size: 14px;
  line-height: 24px;
  color: rgba(#1F2041, 0.75);
}

.main-color-100 {
  background: #1F2041;
}

.main-color-75 {
  background: rgba(#1F2041, 0.75);
}

.main-color-50 {
  background: rgba(#1F2041, 0.50);
}

.main-color-25 {
  background: rgba(#1F2041, 0.25);
}

.main-color-5 {
  background: rgba(#1F2041, 0.05);;
}

.second-color {
  background: #BC9CFF;
}

.third-color {
  background: #6FCF97;
}





