doctype html
html(lang='en')
    head
        title Headers & footers
    body
        div.container
            div.logo
            div.box-header-log-out
                div.header-logo-image-box.logo-image
                div.header-logo-name-box.logo-name
                div.navbar
                div.buttons-box
                    button.button-log-in
                    button.button-register.fontH3 зарегистрироваться
            div.box-header-log-in
                div.header-logo-image-box.logo-image
                div.header-logo-name-box.logo-name
            div.footer-widgets
                div.footer-logo-image-box.logo-image
                div.footer-logo-name-box.logo-name
            div.footer-copyright-bar-1
            div.footer-copyright-bar-2
                div.footer-copyright-bar-2-logo-image-box.logo-image
                div.footer-copyright-bar-2-logo-name-box.logo-name


