div.bullet-list
    label
        span.label-name bullet list
    ul
        li Нельзя с питомцами
        li Без вечеринок и мероприятий
        li Время прибытия — после 13:00, <br> а выезд до 12:00