div.checkbox-buttons
    div.checkbox-buttons-top Checkbox Buttons
    ul.checkbox-buttons-bottom
        li.checkbox-item
            div.square
            div.name Можно курить
        li.checkbox-item
            div.square.checked
            div.name Можно с питомцами
        li.checkbox-item
            div.square.checked
            div.name.guests Можно пригласить гостей (до 10 человек)