div.dropdown-4
    label
        span.label-text dropdown
    div.dropdown-text
        div Сколько гостей
    div.date-dropdown-4-checkbox
        ul
            li.checkbox-item
                div.item-name взрослые
                div.item-count
                    button.decrement -
                    div.value 0
                    button.increment +
            li.checkbox-item
                div.item-name дети
                div.item-count
                    button.decrement -
                    div.value 0
                    button.increment +
            li.checkbox-item
                div.item-name младенцы
                div.item-count
                    button.decrement -
                    div.value 0
                    button.increment +
        button.btn-apply Применить