div.dropdown-3
    label
        span.label-text dropdown
        span.form-type-text expanded
    div.dropdown-text
        div 2 спальни, 2 кровати...
    div.date-dropdown-3-checkbox
        ul
            li.checkbox-item
                div.item-name спальни
                div.item-count
                    button.decrement -
                    div.value 2
                    button.increment +
            li.checkbox-item
                div.item-name кровати
                div.item-count
                    button.decrement -
                    div.value 2
                    button.increment +
            li.checkbox-item
                div.item-name ванные комнаты
                div.item-count
                    button.decrement -
                    div.value 0
                    button.increment +