div.expandable-checkbox-list-2
    div.expandable-checkbox-list-2-top expandable checkbox list
    ul.expandable-checkbox-list-2-bottom
        li.checkbox-item
            div.square
            div.name Завтрак
        li.checkbox-item
            div.square.checked
            div.name Письменный стол
        li.checkbox-item
            div.square.checked
            div.name Стул для кормления
        li.checkbox-item
            div.square.checked
            div.name Кроватка
        li.checkbox-item
            div.square
            div.name Телевизор
        li.checkbox-item
            div.square
            div.name Шампунь