.container {
  display: flex;
  flex-flow: column;
  align-content: flex-start;
}

.box1 {
  display: flex;
  margin: 62px 0 0 141px;
}

.box1-colomn2 {
  margin-top: 3px;
  margin-left: 126px;
}

.box1-colomn3 {
  margin-top: 3px;
  margin-left: 72px;
}

.box2 {
  display: flex;
  margin: 90px 0 0 144px;
}

.text-field-default {
  display: flex;
  flex-flow: column;
  margin-bottom: 20px;
}

.text-field-default label {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}

.text-field-default .label-text {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  margin-top: 3px;
}

.text-field-default .form-type-text {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
  margin-bottom: 8px;
}

.text-field-default input {
  display: flex;
  flex-flow: column;
  width: 320px;
  height: 44px;
  padding-left: 14px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}

.text-field-default ::-moz-placeholder {
  font-family: Montserrat-Regular;
  color: rgba(#1F2041, 0.25);
  font-size: 14px;
  line-height: 18px;
}

.text-field-default ::-webkit-input-placeholder {
  font-family: Montserrat-Regular;
  color: rgba(#1F2041, 0.25);
  font-size: 14px;
  line-height: 18px;
}

.text-field-hover-focus {
  display: flex;
  flex-flow: column;
  margin-bottom: 20px;
}

.text-field-hover-focus label {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}

.text-field-hover-focus .label-text {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  margin-bottom: 5px;
}

.text-field-hover-focus .form-type-text {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  margin-right: -1px;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
  margin-bottom: 5.44px;
}

.text-field-hover-focus input {
  display: flex;
  flex-flow: column;
  width: 320px;
  height: 44px;
  padding-left: 14px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}

.text-field-hover-focus ::-moz-placeholder {
  font-family: Montserrat-Regular;
  color: rgba(#1F2041, 0.75);
  font-size: 13.7px;
  line-height: 24px;
}

.text-field-hover-focus ::-webkit-input-placeholder {
  font-family: Montserrat-Regular;
  color: rgba(#1F2041, 0.75);
  font-size: 13.7px;
  line-height: 24px;
  padding-top: 2px;
}

.dropdown-1 {
  display: flex;
  flex-flow: column;
  margin-bottom: 20px;
}

.dropdown-1 label {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}

.dropdown-1 .label-text {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.dropdown-1 .form-type-text {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
  margin-bottom: 5.44px;
}

.dropdown-1 .dropdown-select {
  width: 320px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  background: #FFFFFF url('../../../images/expand_more.svg') 290px 16px no-repeat;
  font-family: Montserrat-Regular;
  color: rgba(#1F2041, 0.75);
  font-size: 14px;
  line-height: 24px;
  padding-left: 14px;
  padding-bottom: 1px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.masked-text-field {
  display: flex;
  flex-flow: column;
  margin-bottom: 37px;
}

.masked-text-field label {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}

.masked-text-field .label-text {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  margin-top: 3px;
}

.masked-text-field .form-type-text {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
  margin-bottom: 8px;
}

.masked-text-field input {
  display: flex;
  flex-flow: column;
  width: 320px;
  height: 44px;
  padding-left: 14px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}

.masked-text-field ::-moz-placeholder {
  font-family: Montserrat-Regular;
  color: rgba(#1F2041, 0.25);
  font-size: 14px;
  line-height: 18px;
}

.masked-text-field ::-webkit-input-placeholder {
  font-family: Montserrat-Regular;
  color: rgba(#1F2041, 0.25);
  font-size: 14px;
  line-height: 18px;
}
.date-dropdown-box {
  display: flex;
  margin-bottom: 40.56px;
}

.date-dropdown-1 {
  display: flex;
  flex-flow: column;
}

.date-dropdown-select {
  width: 150px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  background: #FFFFFF url('../../../images/expand_more.svg') 120px 17px no-repeat;
  font-family: Montserrat-Regular;
  color: rgba(#1F2041, 0.75);
  font-size: 14px;
  line-height: 24px;
  padding-left: 14px;
  padding-bottom: 1px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.date-dropdown-1 label {
  margin-bottom: 5px;
}

.date-dropdown-1 .label-text {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.date-dropdown-2 {
  display: flex;
  flex-flow: column;
  margin-left: 20px;
}

.date-dropdown-2 label {
  margin-bottom: 5px;
}

.date-dropdown-2 .label-text {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.filter-date-dropdown {
  display: flex;
  flex-flow: column;
  margin-bottom: 38px;
}

.filter-date-dropdown label {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  margin-bottom: 5.44px;
}

.filter-date-dropdown .label-text {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.filter-date-dropdown .dropdown-select {
  width: 266px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  background: #FFFFFF url('../../../images/expand_more.svg') 237px 17px no-repeat;
  font-family: Montserrat-Regular;
  color: rgba(#1F2041, 0.75);
  font-size: 14px;
  line-height: 24px;
  padding-left: 14px;
  padding-bottom: 1px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.subscription-text-field {
  display: flex;
  flex-flow: column;
  margin-bottom: 98px;
}

.subscription-text-field label {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  margin-bottom: 5px;
}

.subscription-text-field .label-text {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  margin-top: 3px;
}

.subscription-text-field input {
  display: flex;
  flex-flow: column;
  width: 266px;
  height: 44px;
  padding-left: 14px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  background: #FFFFFF url('../../../images/arrow_forward.svg') 235px 11px no-repeat;
  box-sizing: border-box;
  border-radius: 4px;
}

.subscription-text-field ::-moz-placeholder {
  font-family: Montserrat-Regular;
  color: rgba(#1F2041, 0.25);
  font-size: 14px;
  line-height: 18px;
}

.subscription-text-field ::-webkit-input-placeholder {
  font-family: Montserrat-Regular;
  color: rgba(#1F2041, 0.25);
  font-size: 14px;
  line-height: 18px;
}

.dropdown-2 {
  display: flex;
  flex-flow: column;
  width: 266px;
  margin-bottom: 19px;
}

.dropdown-2 label {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  margin-bottom: 1px;
  margin-right: 1px;
}

.dropdown-2 .label-text {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  margin-top: 1px;
  margin-left: -1px;
}

.dropdown-2 .form-type-text {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
  margin-right: 1px;
  margin-bottom: 5.44px;
}

.dropdown-2 .dropdown-text {
  width: 266px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px 4px 0 0;
  background: #FFFFFF url('../../../images/expand_more.svg') 235px 16px no-repeat;
  font-family: Montserrat-Regular;
  color: rgba(#1F2041, 0.75);
  font-size: 14px;
  line-height: 24px;
  padding-left: 13px;
  padding-top: 9px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.dropdown-3 {
  display: flex;
  flex-flow: column;
  width: 266px;
  margin-bottom: 53px;
}

.dropdown-3 label {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  margin-right: 1px;
}

.dropdown-3 .label-text {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  margin-top: 1px;
  margin-left: -1px;
}

.dropdown-3 .form-type-text {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
  margin-right: 1px;
  margin-bottom: 5.44px;
}

.dropdown-3 .dropdown-text {
  width: 266px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-sizing: border-box;
  border-radius: 4px 4px 0 0;
  background: #FFFFFF url('../../../images/expand_more.svg') 235px 16px no-repeat;
  font-family: Montserrat-Regular;
  color: rgba(#1F2041, 0.75);
  font-size: 14px;
  line-height: 24px;
  padding-left: 13px;
  padding-top: 9px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.date-dropdown-3-checkbox {
  width: 266px;
  height: 119px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-sizing: border-box;
}

.date-dropdown-3-checkbox ul {
  display: flex;
  flex-flow: column;
  list-style: none;
  margin-top: 6px;
}

.date-dropdown-3-checkbox li {
  display: flex;
  justify-content: space-between;
  margin: 0 7px 7px 15px;
  align-items: center;
}

.date-dropdown-3-checkbox .item-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Montserrat-Bold;
  font-size: 12px;
  line-height: 15px;
  width: 92px;
  color: #1F2041;
}

.date-dropdown-3-checkbox button {
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  color: rgba(31, 32, 65, 0.5);
  border-radius: 50%;
}

.date-dropdown-3-checkbox .item-name {
  font-family: Montserrat-Bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  text-transform: uppercase;
  margin-bottom: 3px;
  margin-left: -2px;
}

.date-dropdown-3-checkbox .value {
  margin-bottom: 3px;
}

.expandable-checkbox-list-1 {
  font-family: Montserrat-Bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  text-transform: uppercase;
  background: #FFFFFF url('../../../images/expand_more.svg') 238px 4px no-repeat;
  margin-bottom: 49px;
}

.expandable-checkbox-list-2{
  display: flex;
  flex-flow: column;
}

.expandable-checkbox-list-2-top {
  font-family: Montserrat-Bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  text-transform: uppercase;
  background: #FFFFFF url('../../../images/expand_more (2).svg') 238px 4px no-repeat;
  margin-bottom: 17.44px;
}

.expandable-checkbox-list-2-bottom {
  display: flex;
  flex-flow: column;
}

.expandable-checkbox-list-2-bottom .square {
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}
.expandable-checkbox-list-2-bottom .checked {
  width: 20px;
  height: 20px;
  background: #FFFFFF url('../../../images/checkboxMarker.svg') 4px 3px no-repeat;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}

.expandable-checkbox-list-2-bottom .checkbox-item {
  display: flex;
  margin-bottom: 10px;
}

.expandable-checkbox-list-2-bottom .name {
  font-family: Montserrat-Regular;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
  align-self: flex-end;
  margin-left: 9px;
}



.checkbox-buttons{
  display: flex;
  flex-flow: column;
  margin-bottom: 30px;
}

.checkbox-buttons-top {
  font-family: Montserrat-Bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  text-transform: uppercase;
  background: #FFFFFF url('../../../images/expand_more (2).svg') 238px 4px no-repeat;
  margin-bottom: 17.44px;
}

.checkbox-buttons-bottom {
  display: flex;
  flex-flow: column;
}

.checkbox-buttons-bottom .square {
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}
.checkbox-buttons-bottom .checked {
  width: 20px;
  height: 20px;
  background: #FFFFFF url('../../../images/checkboxMarker.svg') 4px 3px no-repeat;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}

.checkbox-buttons-bottom .checkbox-item {
  display: flex;
  margin-bottom: 10px;
}

.checkbox-buttons-bottom .name {
  font-family: Montserrat-Regular;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
  align-self: center;
  margin-left: 9px;
}

.checkbox-buttons-bottom .guests {
  width: 192px;
  height: 36px;
}

.radio-buttons{
  display: flex;
  flex-flow: column;
  margin-bottom: 37px;
}

.radio-buttons label {
  margin-bottom: 13px;
}
.radio-buttons .label-text {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.radio-buttons .checkbox {
  display: flex;
}

.radio-buttons .round-unchecked {
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 10px;
}

.radio-buttons .round-checked {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 10px;
}

.round-checked .point {
  width: 12px;
  height: 12px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 10px;
}

.radio-buttons .block-checked {
  display: flex;
  align-items: center;
}

.radio-buttons .block-unchecked {
  display: flex;
  align-items: center;
  margin-right: 39px;
  margin-left: 20px;
}

.block-checked .name {
  font-family: Montserrat-Regular;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  margin-left: 10px;
}

.block-unchecked .name {
  font-family: Montserrat-Regular;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.50);
  margin-left: 10px;
}

.toggle{
  display: flex;
  flex-flow: column;
  margin-bottom: 40px;
}

.toggle label {
  margin-bottom: 13px;
}
.toggle .label-text {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.toggle .checkbox {
  display: flex;
  flex-flow: column;
}

.toggle .oval-unchecked {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 40px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 10px;
}

.toggle .oval-checked {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 40px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid #BC9CFF;
  box-sizing: border-box;
  border-radius: 10px;
}

.oval-checked .point {
  width: 12px;
  height: 12px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 10px;
  margin-left: 3px;
  margin-right: 3px;
}

.oval-unchecked .point {
  width: 12px;
  height: 12px;
  background: rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  margin-left: 3px;
  margin-right: 3px;
}

.toggle .block-checked {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.toggle .block-unchecked {
  display: flex;
  align-items: center;
}

.block-checked .name {
  font-family: Montserrat-Regular;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  margin-left: 10px;
}

.block-unchecked .name {
  font-family: Montserrat-Regular;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  margin-left: 10px;
}


.like-buttons {
  display: flex;
  flex-flow: column;
  margin-bottom: 37px;
}

.like-buttons label {
  margin-bottom: 15px;
}
.like-buttons .label-text {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.like-buttons .likebox {
  display: flex;
}

.like-buttons .oval-unliked {
  display: flex;
  align-items: center;
  width: 40px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 10px;
}

.like-buttons .oval-liked {
  display: flex;
  align-items: center;
  width: 40px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid #BC9CFF;
  box-sizing: border-box;
  border-radius: 10px;
  margin-left: 10px;
}

.like-buttons .oval-unliked .heart {
  width: 20px;
  height: 20px;
  background: url('../../../images/favorite_border.svg') 4px 5px no-repeat;
}

.like-buttons .oval-liked .heart {
  width: 20px;
  height: 20px;
  background: url('../../../images/favorite.svg') 4px 5px no-repeat;
}

.likebox .like-counter {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #BC9CFF;
}

.rate-buttons {
  display: flex;
  flex-flow: column;
  margin-bottom: 37px;
}

.rate-buttons label {
  margin-bottom: 18px;
}
.rate-buttons .label-text {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.rate-buttons .starbox {
  display: flex;
}
.starbox-1 {
  display: flex;
  margin-left: 2px;
}

.starbox-2 {
  display: flex;
  margin-left: 20px;
}

.starbox-1 .star {
  height: 24px;
  width: 24px;
  background: url('../../../images/star.svg') no-repeat;
}

.starbox-1 .star-border {
  height: 24px;
  width: 24px;
  background: url('../../../images/star_border.svg') no-repeat;
}

.starbox-2 .star {
  height: 24px;
  width: 24px;
  background: url('../../../images/star.svg') no-repeat;
}

.dropdown-4 {
  margin-top: 193px;
  display: flex;
  flex-flow: column;
  width: 320px;
  margin-bottom: 98px;
}

.dropdown-4 label {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  margin-right: 1px;
  margin-bottom: 5px;
}

.dropdown-4 .label-text {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  margin-top: 1px;
  margin-left: -1px;
}

.dropdown-4 .dropdown-text {
  width: 320px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-sizing: border-box;
  border-radius: 4px 4px 0 0;
  background: #FFFFFF url('../../../images/expand_more.svg') 291px 16px no-repeat;
  font-family: Montserrat-Regular;
  color: rgba(#1F2041, 0.75);
  font-size: 14px;
  line-height: 24px;
  padding-left: 13px;
  padding-top: 9px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.date-dropdown-4-checkbox {
  width: 320px;
  height: 157px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-sizing: border-box;
}

.date-dropdown-4-checkbox ul {
  display: flex;
  flex-flow: column;
  list-style: none;
  margin-top: 6px;
}

.date-dropdown-4-checkbox li {
  display: flex;
  justify-content: space-between;
  margin: 0 7px 7px 15px;
  align-items: center;
}

.date-dropdown-4-checkbox .item-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Montserrat-Bold;
  font-size: 12px;
  line-height: 15px;
  width: 92px;
  color: #1F2041;
}

.date-dropdown-4-checkbox .increment, .date-dropdown-4-checkbox .decrement{
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  color: rgba(31, 32, 65, 0.5);
  border-radius: 50%;
}

.date-dropdown-4-checkbox .item-name {
  font-family: Montserrat-Bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  text-transform: uppercase;
  margin-bottom: 3px;
  margin-left: -2px;
}

.date-dropdown-4-checkbox .value {
  margin-bottom: 3px;
}

.date-dropdown-4-checkbox .btn-apply {
  border: none;
  background-color: #FFFFFF;
  font-family: Montserrat-Bold;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #BC9CFF;
  margin-left: 222px;
  margin-top: 11px;
}

.rich-checkbox{
  display: flex;
  flex-flow: column;
}

.rich-checkbox-top {
  font-family: Montserrat-Bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  text-transform: uppercase;
  margin-bottom: 17.44px;
}

.rich-checkbox-bottom {
  display: flex;
  flex-flow: column;
}

.rich-checkbox-bottom .square {
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}

.rich-checkbox-bottom .checkbox-item {
  display: flex;
  margin-bottom: 10px;
}

.rich-checkbox-bottom .text {
  display: flex;
  flex-flow: column;
}

.rich-checkbox-bottom .description {
  font-family: Montserrat-Regular;
  font-size: 12px;
  line-height: 14px;
  color: rgba(31, 32, 65, 0.5);
  margin-left: 9px;
}

.rich-checkbox-bottom .name {
  font-family: Montserrat-Bold;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
  margin-left: 9px;
  margin-bottom: 6px;
}

.range-slider {
  display: flex;
  flex-flow: column;
  margin-bottom: 44px;
}

.range-slider label {
  margin-bottom: 23px;
  display: flex;
}
.range-slider .label-name {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.range-slider .label-text {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  margin-left: 70px;
  color: rgba(31, 32, 65, 0.5);
}

.rectangle {
  width: 266px;
  height: 6px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.slider {
  display: flex;
  align-items: center;
}

.rectangle-inner {
  width: 100px;
  height: 6px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 3px;
  margin-left: 74px;
  display: flex;
  align-items: center;
}
.round {
  width: 12px;
  height: 12px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border: 2px solid #FFFFFF;
  border-radius: 10px;
}

.round-2 {
 margin-left: 69px;
}

.buttons {
  display: flex;
  flex-flow: column;
  margin-bottom: 40px;
}

.buttons label {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}
.buttons .label-name {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.buttons-filled-box {
  margin-bottom: 12px;
}
.button-filled-default {
  width: 99px;
  height: 44px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  border: none;
  font-family: Montserrat-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button-filled-hover {
  width: 99px;
  height: 44px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  opacity: 0.5;
  border-radius: 22px;
  border: none;
  font-family: Montserrat-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 19px;
}

.buttons-bordered-box {
  display: flex;
  margin-bottom: 11px;
}

.border-default {
  display: flex;
  width: 99px;
  height: 44px;
  margin: 18px 20px 18px 0;
  border-radius: 22px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border: none;
  justify-content: center;
  align-items: center;
}

.button-border-default {
  width: 95px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 22px;
  border: none;
  font-family: Montserrat-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  align-self: center;
  text-transform: uppercase;
  color: #BC9CFF;
}

.border-hover {
  display: flex;
  width: 99px;
  height: 44px;
  margin: 18px 20px 18px 0;
  border-radius: 22px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  opacity: 0.5;
  border: none;
  justify-content: center;
  align-items: center;
  position: relative;
}

.button-border-hover {
  width: 95px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 22px;
  border: none;
  font-family: Montserrat-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  align-self: center;
  text-transform: uppercase;
  color: #BC9CFF;
  left: -117px;
  position: relative;
}

.buttons-no-border-box {
  margin-left: -5px;
  margin-bottom: 29px;
}

.button-no-border-default {
  background: #FFFFFF;
  border-radius: 22px;
  border: none;
  font-family: Montserrat-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  align-self: center;
  text-transform: uppercase;
  color: #BC9CFF;
}

.button-no-border-hover {
  background: #FFFFFF;
  border-radius: 22px;
  border: none;
  font-family: Montserrat-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  align-self: center;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
  margin-left: 8px;
}

.button-pay-box {
 display: flex;
}

.button-pay {
  width: 320px;
  height: 44px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  border: none;
  font-family: Montserrat-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
}

.button-pay-box .arrow {
  width: 20px;
  height: 20px;
  background: url('../../../images/arrow_forward_white.svg') no-repeat;
  position: relative;
  left: -31px;
  top: 13px;
}

.pagination {
  display: flex;
  flex-flow: column;
  margin-bottom: 37px;
}

.pagination label {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}
.pagination .label-name {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.pages {
  display: flex;
  width: 240px;
  align-items: center;
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: rgba(31, 32, 65, 0.5);

}

.pagination .description {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  margin-top: 8px;
  margin-left: 6px;
}

.pages .first-elem  {
  width: 40px;
  height: 40px;
  top: 571.44px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.pages .last-elem {
  width: 40px;
  height: 40px;
  top: 571.44px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 22px;
}
.pages .elem {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pages .arrow {
  width: 20px;
  height: 20px;
  background: url('../../../images/arrow_forward_white.svg') 2px 1px no-repeat;
  position: absolute;

}

.dropdown-5 {
  margin-top: 232px;
  display: flex;
  flex-flow: column;
  width: 320px;
  margin-bottom: 99px;
}

.dropdown-5 label {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  margin-right: 1px;
  margin-bottom: 5px;
}

.dropdown-5 .label-text {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  margin-top: 1px;
  margin-left: -1px;
}

.dropdown-5 .dropdown-text {
  width: 320px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-sizing: border-box;
  border-radius: 4px 4px 0 0;
  background: #FFFFFF url('../../../images/expand_more.svg') 291px 16px no-repeat;
  font-family: Montserrat-Regular;
  color: rgba(#1F2041, 0.75);
  font-size: 14px;
  line-height: 24px;
  padding-left: 13px;
  padding-top: 9px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.date-dropdown-5-checkbox {
  width: 320px;
  height: 157px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-sizing: border-box;
}

.date-dropdown-5-checkbox ul {
  display: flex;
  flex-flow: column;
  list-style: none;
  margin-top: 6px;
}

.date-dropdown-5-checkbox li {
  display: flex;
  justify-content: space-between;
  margin: 0 7px 7px 15px;
  align-items: center;
}

.date-dropdown-5-checkbox .item-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Montserrat-Bold;
  font-size: 12px;
  line-height: 15px;
  width: 92px;
  color: #1F2041;
}

.date-dropdown-5-checkbox .increment, .date-dropdown-5-checkbox .decrement{
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  color: rgba(31, 32, 65, 0.5);
  border-radius: 50%;
}

.date-dropdown-5-checkbox .item-name {
  font-family: Montserrat-Bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  text-transform: uppercase;
  margin-bottom: 3px;
  margin-left: -2px;
}

.date-dropdown-5-checkbox .value {
  margin-bottom: 3px;
}

.date-dropdown-5-checkbox .buttons-box{
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  margin-left: 7px;
}

.date-dropdown-5-checkbox .buttons-box button {
  border: none;
  background-color: #FFFFFF;
  font-family: Montserrat-Bold;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

.date-dropdown-5-checkbox .buttons-box .btn-clean {
  color: rgba(31, 32, 65, 0.5);
}

.date-dropdown-5-checkbox .buttons-box .btn-apply {
  color: #BC9CFF;
}

.bullet-list {
  display: flex;
  flex-flow: column;
  margin-bottom: 36px;
}

.bullet-list label {
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
}
.bullet-list .label-name {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.bullet-list li {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 10px;
  color: rgba(31, 32, 65, 0.75);
  list-style-type: none;
  background: url('../../../images/Ellipse.svg') 0px 6px no-repeat;
  padding-left: 20px;
}

.box2-colomn1 {
  display: flex;
  flex-flow: column;
}

.comfort {
  display: flex;
  width: 280px;
  border-bottom: rgba(31, 32, 65, 0.1) solid 1px;
  padding-bottom: 19px;
}

.convenience {
  display: flex;
  width: 280px;
  margin-top: 20px;
  border-bottom: rgba(31, 32, 65, 0.1) solid 1px;
  padding-bottom: 20px;
}

.comfort .image {
  width: 48px;
  height: 48px;
  background: url('../../../images/insert_emoticon.svg') 0 6px no-repeat;;
}

.comfort .description {
  display: flex;
  flex-flow: column;
  padding-top: 3px;
  padding-left: 6px;
}

.comfort .name {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.comfort .text {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.convenience .image {
  width: 48px;
  height: 48px;
  background: url('../../../images/location_city.svg') 2px 4px no-repeat;;
}

.convenience .description {
  display: flex;
  flex-flow: column;
  padding-left: 6px;
}

.convenience .name {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.convenience .text {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.box2-colomn2 {
  margin-left: 166px;
}

.review {
  display: flex;
  flex-flow: column;
}

.user-info {
  display: flex;
  width: 280px;
  margin-top: 9px;
  padding-bottom: 12px;
}

.user-info .image {
  width: 48px;
  height: 48px;
  background: url('../../../images/review.svg') -22px -7px no-repeat;
}

.user-info .description {
  display: flex;
  flex-flow: column;
  padding-top: 3px;
  padding-left: 6px;
}

.user-info .name {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.user-info .text {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.review .review-text {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  margin-left: 15px;
  margin-top: -1px;
}

.review .review-info {
  display: flex;
}

.like-box .oval-liked {
  display: flex;
  align-items: center;
  width: 40px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid #BC9CFF;
  box-sizing: border-box;
  border-radius: 10px;
}

.like-box .oval-liked .heart {
  width: 20px;
  height: 20px;
  background: url('../../../images/favorite.svg') 4px 5px no-repeat;
}

.like-box .like-counter {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #BC9CFF;
}
