.container {
  display: flex;
  flex-flow: column;
  align-content: flex-start;
}

.box1 {
  display: flex;
  margin: 62px 0 0 141px;
}

.box1-colomn2 {
  margin-top: 3px;
  margin-left: 126px;
}

.box2 {
  display: flex;
}

.text-field-default {
  display: flex;
  flex-flow: column;
  margin-bottom: 20px;
}

.text-field-default label {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}

.text-field-default .label-text {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  margin-top: 3px;
}

.text-field-default .form-type-text {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
  margin-bottom: 8px;
}

.text-field-default input {
  display: flex;
  flex-flow: column;
  width: 320px;
  height: 44px;
  padding-left: 14px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}

.text-field-default ::-moz-placeholder {
  font-family: Montserrat-Regular;
  color: rgba(#1F2041, 0.25);
  font-size: 14px;
  line-height: 18px;
}

.text-field-default ::-webkit-input-placeholder {
  font-family: Montserrat-Regular;
  color: rgba(#1F2041, 0.25);
  font-size: 14px;
  line-height: 18px;
}

.text-field-hover-focus {
  display: flex;
  flex-flow: column;
  margin-bottom: 20px;
}

.text-field-hover-focus label {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}

.text-field-hover-focus .label-text {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  margin-bottom: 5px;
}

.text-field-hover-focus .form-type-text {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  margin-right: -1px;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
  margin-bottom: 5.44px;
}

.text-field-hover-focus input {
  display: flex;
  flex-flow: column;
  width: 320px;
  height: 44px;
  padding-left: 14px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}

.text-field-hover-focus ::-moz-placeholder {
  font-family: Montserrat-Regular;
  color: rgba(#1F2041, 0.75);
  font-size: 13.7px;
  line-height: 24px;
}

.text-field-hover-focus ::-webkit-input-placeholder {
  font-family: Montserrat-Regular;
  color: rgba(#1F2041, 0.75);
  font-size: 13.7px;
  line-height: 24px;
  padding-top: 2px;
}

.dropdown-1 {
  display: flex;
  flex-flow: column;
  margin-bottom: 20px;
}

.dropdown-1 label {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}

.dropdown-1 .label-text {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.dropdown-1 .form-type-text {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
  margin-bottom: 5.44px;
}

.dropdown-1 .dropdown-select {
  width: 320px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  background: #FFFFFF url('../../../images/expand_more.svg') 290px 16px no-repeat;
  font-family: Montserrat-Regular;
  color: rgba(#1F2041, 0.75);
  font-size: 14px;
  line-height: 24px;
  padding-left: 14px;
  padding-bottom: 1px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.masked-text-field {
  display: flex;
  flex-flow: column;
  margin-bottom: 37px;
}

.masked-text-field label {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}

.masked-text-field .label-text {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  margin-top: 3px;
}

.masked-text-field .form-type-text {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
  margin-bottom: 8px;
}

.masked-text-field input {
  display: flex;
  flex-flow: column;
  width: 320px;
  height: 44px;
  padding-left: 14px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}

.masked-text-field ::-moz-placeholder {
  font-family: Montserrat-Regular;
  color: rgba(#1F2041, 0.25);
  font-size: 14px;
  line-height: 18px;
}

.masked-text-field ::-webkit-input-placeholder {
  font-family: Montserrat-Regular;
  color: rgba(#1F2041, 0.25);
  font-size: 14px;
  line-height: 18px;
}
.date-dropdown-box {
  display: flex;
  margin-bottom: 40.56px;
}

.date-dropdown-1 {
  display: flex;
  flex-flow: column;
}

.date-dropdown-select {
  width: 150px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  background: #FFFFFF url('../../../images/expand_more.svg') 120px 17px no-repeat;
  font-family: Montserrat-Regular;
  color: rgba(#1F2041, 0.75);
  font-size: 14px;
  line-height: 24px;
  padding-left: 14px;
  padding-bottom: 1px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.date-dropdown-1 label {
  margin-bottom: 5px;
}

.date-dropdown-1 .label-text {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.date-dropdown-2 {
  display: flex;
  flex-flow: column;
  margin-left: 20px;
}

.date-dropdown-2 label {
  margin-bottom: 5px;
}

.date-dropdown-2 .label-text {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.filter-date-dropdown {
  display: flex;
  flex-flow: column;
  margin-bottom: 38px;
}

.filter-date-dropdown label {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  margin-bottom: 5.44px;
}

.filter-date-dropdown .label-text {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.filter-date-dropdown .dropdown-select {
  width: 266px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  background: #FFFFFF url('../../../images/expand_more.svg') 237px 17px no-repeat;
  font-family: Montserrat-Regular;
  color: rgba(#1F2041, 0.75);
  font-size: 14px;
  line-height: 24px;
  padding-left: 14px;
  padding-bottom: 1px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.subscription-text-field {
  display: flex;
  flex-flow: column;
  margin-bottom: 98px;
}

.subscription-text-field label {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  margin-bottom: 5px;
}

.subscription-text-field .label-text {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  margin-top: 3px;
}

.subscription-text-field input {
  display: flex;
  flex-flow: column;
  width: 266px;
  height: 44px;
  padding-left: 14px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  background: #FFFFFF url('../../../images/arrow_forward.svg') 235px 11px no-repeat;
  box-sizing: border-box;
  border-radius: 4px;
}

.subscription-text-field ::-moz-placeholder {
  font-family: Montserrat-Regular;
  color: rgba(#1F2041, 0.25);
  font-size: 14px;
  line-height: 18px;
}

.subscription-text-field ::-webkit-input-placeholder {
  font-family: Montserrat-Regular;
  color: rgba(#1F2041, 0.25);
  font-size: 14px;
  line-height: 18px;
}

.dropdown-2 {
  display: flex;
  flex-flow: column;
  width: 266px;
  margin-bottom: 19px;
}

.dropdown-2 label {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  margin-bottom: 1px;
  margin-right: 1px;
}

.dropdown-2 .label-text {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  margin-top: 1px;
  margin-left: -1px;
}

.dropdown-2 .form-type-text {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
  margin-right: 1px;
  margin-bottom: 5.44px;
}

.dropdown-2 .dropdown-text {
  width: 266px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px 4px 0 0;
  background: #FFFFFF url('../../../images/expand_more.svg') 235px 16px no-repeat;
  font-family: Montserrat-Regular;
  color: rgba(#1F2041, 0.75);
  font-size: 14px;
  line-height: 24px;
  padding-left: 13px;
  padding-top: 9px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.dropdown-3 {
  display: flex;
  flex-flow: column;
  width: 266px;
  margin-bottom: 53px;
}

.dropdown-3 label {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  margin-right: 1px;
}

.dropdown-3 .label-text {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  margin-top: 1px;
  margin-left: -1px;
}

.dropdown-3 .form-type-text {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
  margin-right: 1px;
  margin-bottom: 5.44px;
}

.dropdown-3 .dropdown-text {
  width: 266px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-sizing: border-box;
  border-radius: 4px 4px 0 0;
  background: #FFFFFF url('../../../images/expand_more.svg') 235px 16px no-repeat;
  font-family: Montserrat-Regular;
  color: rgba(#1F2041, 0.75);
  font-size: 14px;
  line-height: 24px;
  padding-left: 13px;
  padding-top: 9px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.date-dropdown-3-checkbox {
  width: 266px;
  height: 119px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-sizing: border-box;
}

.date-dropdown-3-checkbox ul {
  display: flex;
  flex-flow: column;
  list-style: none;
  margin-top: 6px;
}

.date-dropdown-3-checkbox li {
  display: flex;
  justify-content: space-between;
  margin: 0 7px 7px 15px;
  align-items: center;
}

.date-dropdown-3-checkbox .item-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Montserrat-Bold;
  font-size: 12px;
  line-height: 15px;
  width: 92px;
  color: #1F2041;
}

.date-dropdown-3-checkbox button {
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  color: rgba(31, 32, 65, 0.5);
  border-radius: 50%;
}

.date-dropdown-3-checkbox .item-name {
  font-family: Montserrat-Bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  text-transform: uppercase;
  margin-bottom: 3px;
  margin-left: -2px;
}

.date-dropdown-3-checkbox .value {
  margin-bottom: 3px;
}

.expandable-checkbox-list-1 {
  font-family: Montserrat-Bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  text-transform: uppercase;
  background: #FFFFFF url('../../../images/expand_more.svg') 238px 4px no-repeat;
  margin-bottom: 49px;
}

.expandable-checkbox-list-2{
  display: flex;
  flex-flow: column;
}

.expandable-checkbox-list-2-top {
  font-family: Montserrat-Bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  text-transform: uppercase;
  background: #FFFFFF url('../../../images/expand_more (2).svg') 238px 4px no-repeat;
  margin-bottom: 17.44px;
}

.expandable-checkbox-list-2-bottom {
  display: flex;
  flex-flow: column;
}

.expandable-checkbox-list-2-bottom .square {
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}
.expandable-checkbox-list-2-bottom .checked {
  width: 20px;
  height: 20px;
  background: #FFFFFF url('../../../images/checkboxMarker.svg') 4px 3px no-repeat;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}

.expandable-checkbox-list-2-bottom .checkbox-item {
  display: flex;
  margin-bottom: 10px;
}

.expandable-checkbox-list-2-bottom .name {
  font-family: Montserrat-Regular;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
  align-self: flex-end;
  margin-left: 9px;
}



.checkbox-buttons{
  display: flex;
  flex-flow: column;
}

.checkbox-buttons-top {
  font-family: Montserrat-Bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  text-transform: uppercase;
  background: #FFFFFF url('../../../images/expand_more (2).svg') 238px 4px no-repeat;
  margin-bottom: 17.44px;
}

.checkbox-buttons-bottom {
  display: flex;
  flex-flow: column;
}

.checkbox-buttons-bottom .square {
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}
.checkbox-buttons-bottom .checked {
  width: 20px;
  height: 20px;
  background: #FFFFFF url('../../../images/checkboxMarker.svg') 4px 3px no-repeat;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}

.checkbox-buttons-bottom .checkbox-item {
  display: flex;
  margin-bottom: 10px;
}

.checkbox-buttons-bottom .name {
  font-family: Montserrat-Regular;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
  align-self: center;
  margin-left: 9px;
}

.checkbox-buttons-bottom .guests {
  width: 192px;
  height: 36px;
}








