div.pagination
    label
        span.label-name pagination
    div.pages
        div.elem.first-elem 1
        div.elem 2
        div.elem 3
        div.elem ...
        div.elem 15
        div.elem.last-elem
            div.arrow
    div.description 1 – 12 из 100+ вариантов аренды