div.radio-buttons
    label
        span.label-text radio buttons
    div.checkbox
        div.block-checked
            div.round-checked
                div.point
            div.name Мужчина
        div.block-unchecked
            div.round-unchecked
            div.name Женщина