div.range-slider
    label
        span.label-name range slider
        span.label-text 5 000₽ - 10 000₽
    div.rectangle
        div.slider
            div.rectangle-inner
                div.round.round-1
                div.round.round-2