div.rate-buttons
    label
        span.label-text rate button
    div.starbox
        div.starbox-1
            div.star
            div.star
            div.star
            div.star
            div.star-border
        div.starbox-2
            div.star
            div.star
            div.star
            div.star
            div.star