div.review
    div.user-info
        div.image
        div.description
            div.name Мурад Сарафанов
            div.text 5 дней назад
    div.review-info
        div.like-box
            div.oval-liked
                div.heart
                div.like-counter 12
        div.review-text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. <br> И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто <br> не жаловался из соседей.