div.rich-checkbox
    div.rich-checkbox-top rich checkbox buttons
    ul.rich-checkbox-bottom
        li.checkbox-item
            div.square
            div.text
                div.name Широкий коридор
                div.description Ширина коридоров в номере <br> не менее 91 см.
        li.checkbox-item
            div.square
            div.text
                div.name Помощник для инвалидов
                div.description На 1 этаже вас встретит специалист <br> и проводит до номера
