div.footer-copyright-bar-2
    div.footer-logo
        div.footer-copyright-bar-2-logo-image-box.logo-image
        div.footer-copyright-bar-2-logo-name-box.logo-name
    div.copyright-text-2 Copyright © 2018 Toxin отель. Все права зачищены.
    div.social-networks-2
        div.twitter
        div.fb
        div.ig






