/* сброс стилей браузера */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #F4F4F6;
}

.container {
  min-width: 1200px;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
}

.box-header-log-out {
  display: flex;
  justify-content: space-between;
  margin-top: 62px;
  height: 70px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.box-header-log-in {
  display: flex;
  justify-content: space-between; 
  margin-top: 40px;
  height: 70px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.footer-widgets {
  display: flex;
  margin-top: 40px;
  height: 372px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.footer-copyright-bar-1 {
  display: flex;
  justify-content: space-between;
  margin-top: 1px;
  height: 70px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  background: #FFFFFF;
  font-family: Montserrat-regular;
  font-size: 14px;
  line-height: 17px;
  color: rgba(#1F2041, 0.50);
}

.copyright-text-1 {
   font-family: Montserrat-regular;
   font-size: 14px;
   line-height: 17px;
   color: rgba(#1F2041, 0.50);
   margin-top: 27px;
   margin-left: 140px;
}

.footer-copyright-bar-2 {
  display: flex;
  flex-flow: column;
  margin-top: 40px;
  margin-left: 88px;
  margin-bottom: 140px;
  width: 768px;
  height: 367px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  align-self: center;
}

.footer-logo {
  display: flex;
}

.copyright-text-2 {
  font-family: Montserrat-regular;
  font-size: 14px;
  line-height: 17px;
  color: rgba(#1F2041, 0.50);
  margin-top: 21px;
  margin-left: 201px;
}

.logo-image {
  width: 40px;
  height: 40px;
  background:  url('../../../images/LogoRoundColor.svg') no-repeat,
  url('../../../images/LogoLeftWingColor.svg') 9.41px 15px no-repeat,
  url('../../../images/LogoRightWingColor.svg') 21.47px 15px no-repeat;
}

.logo-name {
  width: 53.19px;
  height: 12.95px;
  background: url('../../../images/LogoName.svg') no-repeat;
}

.header-logo-image-box {
  margin-top: 15px;
  margin-left: 140px;
}

.header-logo-name-box {
  margin-top: 28px;
  margin-left: 12px;
}

.footer-logo-image-box {
  margin-top: 100px;
  margin-left: 140px;
}

.footer-logo-name-box {
  margin-top: 113px;
  margin-left: 12px;
}

.footer-copyright-bar-2-logo-image-box {
  margin-top: 120px;
  margin-left: 331px;
}

.footer-copyright-bar-2-logo-name-box {
  margin-top: 133px;
  margin-left: 12px;
}

.logo-box {
  display: flex;
}

.nav-buttons-box {
  display: flex;
  margin-right: 51px;
}

.buttons-box {
  display: flex;
}

.round-angle {
  display: flex;
  width: 87px;
  height: 34px;
  margin: 18px 20px 18px 0;
  border-radius: 22px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border: none;
}

.button-log-in {
  width: 83px;
  height: 30px;
  border-radius: 22px;
  background: #FFFFFF;
  border: none;
  font-family: Montserrat-Bold;
  font-style: normal;
  color: #BC9CFF;
  font-size: 12px;
  line-height: 15px;
  margin-left: 2px;
  padding-bottom: 2px;
  text-transform: uppercase;
  align-self: center;
}

.button-register {
  width: 196px;
  height: 34px;
  margin: 18px 0 18px 0;
  border-radius: 22px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border: none;
  font-family: Montserrat-Bold;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  padding-bottom: 2px;
  padding-left: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.navbar {
  display: flex;
}

ul {
   list-style: none;
}

.navItem_name {
  font-family: Montserrat-regular;
  font-size: 14px;
  line-height: 17px;
  color: rgba(#1F2041, 0.50);
  margin-top: 28px;
}

.about {
  font-family: Montserrat-Bold;
  font-size: 14px;
  line-height: 17px;
  color: rgba(#1F2041, 0.75);
  margin-top: 27px;
  margin-right: 21px;
  white-space: nowrap
}

.expand-more {
  width: 25px;
  height: 21px;
  margin-top: 26px;
  margin-right: 20px;
  background: url('../../../images/expand_more.svg') 7px 6px no-repeat;
}

.vacancies {
  margin-right: 20px;
}

.news {
  margin-right: 20px;
}

.username-box {
  display: flex;
}

.split {
  width: 1px;
  height: 30px;
  margin-top: 20px;
  margin-right: 21px;
  background: rgba(31, 32, 65, 0.1) url('../../../images/Rectangle.svg') no-repeat;
}

.username {
  font-family: Montserrat-regular;
  font-size: 14px;
  line-height: 17px;
  color: rgba(#1F2041, 0.50);
  margin-top: 28px;
}

.social-networks-1 {
  display: flex;
  justify-content: flex-end;
  padding-top: 24px;
  padding-right: 50px;

}

.social-networks-2 {
  display: flex;
  justify-content: flex-end;
  padding-top: 25px;
  padding-right: 327px;
}

.twitter {
  background: url('../../../images/twitter.svg') no-repeat;
  width: 24px;
  height: 24px;
  margin-right: 21px;
}

.fb {
  background: url('../../../images/fb.svg') no-repeat;
  width: 24px;
  height: 24px;
  margin-right: 20px;

}

.ig {
  background: url('../../../images/ig.svg') no-repeat;
  width: 24px;
  height: 24px;
}

.footer-widgets-box-2 {
  display: flex;
}

.widget-navbar {
  display: flex;
  flex-flow: column;
  margin-top: 76px;
  margin-left: 40px;
}

.widget-about {
  display: flex;
  flex-flow: column;
  margin-top: 76px;
  margin-left: 57px;
}

.widget-help {
  display: flex;
  flex-flow: column;
  margin-top: 76px;
  margin-left: 93px;
}

.widget-subscribe {
  display: flex;
  flex-flow: column;
  margin-top: 76px;
  margin-left: 32px;
}

.widget-item-subscribe {
  width: 260px;
  height: 48px;
  font-family: Montserrat-regular;
  font-size: 14px;
  line-height: 24px;
  color: rgba(#1F2041, 0.50);
  margin-top: -3px;
  margin-bottom: 21px;
}

.footer-widgets-text {
  width: 260px;
  height: 72px;
  margin-left: 140px;
  margin-top: 17px;
  font-family: Montserrat-regular;
  font-size: 14px;
  line-height: 24px;
  color: rgba(#1F2041, 0.50);
}

.widget-h {
  font-family: Montserrat-Bold;
  font-size: 12px;
  line-height: 17px;
  color: rgba(#1F2041, 0.75);
  margin-top: 27px;
  margin-right: 21px;
  margin-bottom: 21px;
  text-transform: uppercase;
}

.widget-item {
  font-family: Montserrat-regular;
  font-size: 14px;
  color: rgba(#1F2041, 0.50);
  margin-bottom: 20px;
}

.email-input {
  width: 260px;
  height: 44px;
  padding-left: 11px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}


::-moz-placeholder {
  font-family: Montserrat-regular;
  color: rgba(#1F2041, 0.25);
  font-size: 14px;
  background: url('../../../images/arrow_forward.svg') 225px no-repeat;
}

::-webkit-input-placeholder {
  font-family: Montserrat-regular;
  color: rgba(#1F2041, 0.25);
  font-size: 14px;
  background: url('../../../images/arrow_forward.svg') 225px no-repeat;
}