/* сброс стилей браузера */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}
$dark-shade-100-color: #1F2041;
$dark-shade-75-color: rgba(#1F2041, 0.75);
$dark-shade-50-color: rgba(#1F2041, 0.50);
$dark-shade-25-color: rgba(#1F2041, 0.25);
$dark-shade-5-color: rgba(#1F2041, 0.05);
$purple-color: #BC9CFF;
$green-color: #6FCF97;

@font-face {
  font-family: 'Quicksand-bold';
  src: url('fonts/quicksand-v21-latin-700.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Quicksand-light';
  src: url('fonts/Quicksand-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('fonts/montserrat-v14-latin-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-regular';
  src: url('fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.fontH1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  color: $dark-shade-25-color;
}
.fontH2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 23px;
  text-align: right;
  color: $dark-shade-25-color;
}
.fontH3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  text-transform: uppercase;
  color: $dark-shade-25-color;
}
.fontBody {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  color: $dark-shade-25-color;
}

.container {
  display: flex;
  flex-flow: column;
}
.logo {
  margin-top: 30px;
  margin-left: 30px;
  width: 48px;
  height: 48px;
  background: url('./images/Vector (2).svg')  11px 18px no-repeat,
  url('./images/Vector (1).svg') 25px 18px no-repeat,
  url('./images/Vector.svg') no-repeat;
}
.content {
  display: flex;
  justify-content: space-between;
}

.box1 {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 67px;
  margin-left: 150px;
}
.box2 {
  display: flex;
  flex-flow: column;
  margin-top: 67px;
  margin-right: 102px;

}
.colorDescription {
  display: flex;
  flex-flow: column;
  width: 159px;
  height: 57px;
  margin-top: 7px;
  margin-left:40px;
}
.colorBox {
  display: flex;
  margin-bottom: 20px;
}
.colorBox_rectangle {
  width: 70px;
  height: 70px;
  background: #1F2041;
  border-radius: 6px;
}
.colorBox_name {
  font-family: Quicksand-bold;
  font-size: 19px;
  line-height: 29px;
  color: $dark-shade-100-color;
}
.colorBox_hex {
  font-family: Quicksand-light;
  font-size: 19px;
  line-height: 29px;
  color: $dark-shade-100-color;
}

.fontBox {
  display: flex;

}
.type_box {
  display: flex;
  flex-flow: column;
  margin-right: 30px;
  margin-bottom: 508px;
}
.text_example {
  margin-bottom: 50px;
}

.fontExampleH1 {
  width: 336px;
  height: 60px;
  font-family: Quicksand-bold;
  font-size: 24px;
  line-height: 30px;
  color: $dark-shade-100-color;
}
.fontExampleH2 {
  width: 282px;
  height: 48px;
  font-family: Quicksand-bold;
  font-size: 19px;
  line-height: 24px;
  color: $dark-shade-100-color;
}
.fontExampleH3 {
  width: 186px;
  height: 15px;
  font-family: Montserrat-Bold;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  margin-bottom: 47px;
  color: $dark-shade-100-color;
}
.fontExampleBody {
  width: 301px;
  height: 48px;
  font-family: Montserrat-regular;
  font-size: 14px;
  line-height: 24px;
  color: $dark-shade-75-color;
}

.fontH1 {
  margin-bottom: 80px;
}
.fontH2 {
  margin-bottom: 75px;
}
.fontH3 {
  margin-bottom: 49px;
}

.main-color-100 {
  background: $dark-shade-100-color;
}
.main-color-75 {
  background: $dark-shade-75-color;
}
.main-color-50 {
  background: $dark-shade-50-color;
}
.main-color-25 {
  background: $dark-shade-25-color;
}
.main-color-5 {
  background: $dark-shade-5-color;
}
.second-color {
  background: $purple-color;
}
.third-color {
  background: $green-color;
}





