
$dark-shade-100-color: #1F2041;
$dark-shade-75-color: rgba(#1F2041, 0.75);
$dark-shade-50-color: rgba(#1F2041, 0.50);
$dark-shade-25-color: rgba(#1F2041, 0.25);
$dark-shade-5-color: rgba(#1F2041, 0.05);
$purple-color: #BC9CFF;
$green-color: #6FCF97;

@font-face {
  font-family: 'Quicksand';
  src: url('fonts/quicksand-v21-latin-700.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('fonts/montserrat-v14-latin-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-700';
  src: url('fonts/montserrat-v14-latin-700.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

h1 {
  font-family: 'Quicksand';
  font-size: 24px;
  line-height: 30px;
  color: $dark-shade-100-color;
}

h2 {
  font-family: 'Quicksand';
  font-size: 19px;
  line-height: 24px;
  color: $dark-shade-100-color;
}


h3 {
  font-family: 'Montserrat-700';
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  text-transform: uppercase;
  color: #1F2041;
}

body {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  /* Dark 75% */
  color: rgba(31, 32, 65, 0.75);
}

